.search{
    margin-top: -200px;
    transition: transform 0.8 ease;
       animation : flowdown 500ms ease-in-out forwards;
       transform-origin: top;
    background-color: $navcolor;
    position: fixed;
    top:0;
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
    justify-content: center;
  display: none;
    .search__container{
        padding-bottom: 20px;
        border-bottom: 1px solid $headcolor;
        max-width:1600px;
        //padding: 10px;
        //margin-top: 10px;
        width: 95%;
        justify-self: center;
        display: flex;
        height: 85px;
        justify-content: space-between;
        .search__icon{
            width: 5%;
            margin-top: 20px;
            height:25px;
            width:25px;
            cursor: pointer;
        }
        .search__text{
            outline: none;
            caret-color: $gradientcolor3;
            height: 100%;
            width:95%;
            color: $headcolor;
            font-size: 35px;
            @media screen and (max-width: 1000px){
                font-size: 25px;
            }
            @media screen and (max-width: 600px){
                font-size: 15px;
            }
            border: 1px solid rgba(0,0,0,0);
            background-color: rgba(0,0,0,0);
        }
        .search__text:focus{
            border: 1px solid rgba(0,0,0,0);
        }
        .search__cross{
            cursor: pointer;
            margin-top: 10px;
            height: 100%;
            width: 2%;
            font-size: 18px;
            color: $headcolor;
        }
    }
    .search__line{
        height: 10px;
        width: 80%;
        background-color: $headcolor;
    }
}

.showSearch{
    margin-top: -0px;
    display: block;
}