.tags{
  //  height:90px;
    background-color: $navcolor;
  //  display: flex;
    overflow-y: scroll;
 scrollbar-width: none; 
  
  padding-top:20px;
 
}
.tags::-webkit-scrollbar{
     display: none;
}
.tags__container{
  //  border-top: 1px solid $headcolor;
  //overflow: auto;
   max-width: 1600px;
    margin-top: 80px;
    min-width:800px;
    overflow: scroll;
  //  scrollbar-width: none; 
   // -ms-overflow-style: none; 
    display: flex;
    margin-left: 35px;
    justify-content: flex-start;
    column-gap: 36px;
    align-items: center;
    
    .buttons{
        
        display: flex;
        justify-content: center;
        column-gap: 5px;
        text-align: center;
        border: 1px solid $headcolor;
        color: $headcolor;
        padding: 11px;
        padding-left: 28px;
        min-width: 70px;
        @media screen and (max-width: 1000px){
            font-size: 15px;
        }
        text-align: center;
        border-radius: 40px;
        .tags__inn{
            //height: 100%;
        }
    }
    .buttons:hover{
        cursor: pointer;
        background-color: $headcolor;
        color: black;
    }
    .add-design{
        cursor: pointer;
        background-color: $headcolor;
        color: black;
    }
}
.tags__container::-webkit-scrollbar{
    display: none;
}
.tagc{
    visibility: hidden;
}
.show-tag{
    visibility: visible;
    display: inline-block;
}