.big-section{
    background-color: $navcolor !important;
    .what{
        height:60vh;
        position: absolute;
        left: 0;
        top:100px;
        width:100vw;
       // display: flex;
        background-color: $navcolor;
        display: none;
        align-items: flex-start;
        justify-content: space-around;
        @media screen and (max-width: 1000px) {
            display: none;
            visibility: hidden;;
          }
          .what__list{
                    margin-top: 30px;
                    color: $textcolor;
                    //margin-top: 20px;
                    height: 87%;
                    width:30%;
                    >ul{
                        width:100%;
                        height:90%;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        row-gap: 0px;
                        position: relative;
                        li{
                            align-self: center;
                            margin-left: 10px;
                            height: 19%;
                            text-align: center;
                            display: flex;
                            font-size: 16px;
                            width:68%;
                            justify-content: space-between;
                            border-bottom: 1px solid grey; 
                            padding-top: 20px;
                            .fa-angle-right{
                                color:$headcolor
                            }
                        }
                        .select{
                            .overviewsection{
                                display: block !important;
                            }
                            color:$headcolor !important;
                          background-color: rgba(255,255,255,0.1) !important;
                        }
                        .overview:hover{
                            .overviewsection{
                                display: block;
                            }
                            color:$headcolor !important;
                            background-color: rgba(255,255,255,0.1) !important;
                        }
                        .overview{
                            .overviewsection{
                                position: absolute;
                              //  height: 50vh;
                                width:1000px;
                                left: 330px;
                                padding: 20px;
                                padding-top: 60px;
                                padding-left: 50px;
                                top: -80px;
                               // background-color: rgba(0,0,0,0.3);
                                margin-top: 30px;
                                height:130%;
                               // width:68%;
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                row-gap: 55px;
                               // border: 1px solid red;
                               display: none;
                                .what__head{
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 20px;
                                    .what__title{
                                        text-align: start;
                                        width:60%;
                                        font-size: 30px;
                                        color: $headcolor;
                                    }
                                    .what__para{
                                        text-align: start;
                                        color: $textcolor;
                                    }
                                }
                                .what__button{
                                    margin-top: 50px;
                                    width:20%;
                                    border:1px solid $headcolor;
                                    padding: 10px;
                                    border-radius: 20px;
                                    color: $headcolor;
                                    text-align: center;
                                    transition: all 0.5s ease;
                                }
                                .what__button:hover{
                                    cursor: pointer;
                                    background-color: rgba(0,0,0,0.3);
                                }
                            }
                        }
                        .industries{
                            .industriessection{
                                position: absolute;
                                height: 50vh;
                                width: 1000px;
                                left: 330px;
                                padding: 20px;
                                padding-left: 100px;
                                top: -30px;
                               // background-color: rgba(0,0,0,0.3);
                                margin-top: -18px;
                                height:130%;
                               // width:68%;
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                row-gap: 55px;
                               // border: 1px solid red;
                                
                                display: none;
                                .what__head{
                                    //border: 1px solid blue;
                                    display: flex;
                                    column-gap: 10px;
                                    justify-content: flex-start;
                                    ul{
                                       // border: 1px solid red;
                                        width: 30%;
                                      //  height: 100%;
                                        margin-bottom: 100px;
                                        display: flex;
                                        align-items: flex-start;
                                        flex-direction: column;
                                        row-gap: 10px;
                                        li{
                                            font-size: 15px;
                                            //height: 100%;
                                            width: 100%;
                                            border-bottom :1px solid $navcolor ;
                                           
                                           // text-align: start;
                                            display: flex;
                                            justify-content: flex-start;
                                           // border: 1px solid red;
                                        }
                                    }
                                }
                            }
                        }
                        .industries:hover{
                            color:$headcolor !important;
                            background-color: rgba(255,255,255,0.1) !important;
                            .industriessection{
                                display: block;
                                color: $textcolor;
                            }
                        }
                       .services{
                        .services-section{
                            position: absolute;
                                height: 50vh;
                                width: 800px;
                                left: 330px;
                                padding: 20px;
                                padding-left: 100px;
                                top: -30px;
                               // background-color: rgba(0,0,0,0.3);
                                margin-top: -18px;
                                height:100%;
                               // width:68%;
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                row-gap: 55px;
                                display: none;
                           .what__head{
                            //border: 1px solid blue;
                            display: flex;
                            column-gap: 10px;
                            justify-content: flex-start;
                           ul{
                              // border: 1px solid red;
                               width: 30%;
                             //  height: 100%;
                               margin-bottom: 100px;
                               display: flex;
                               align-items: flex-start;
                               flex-direction: column;
                               row-gap: 10px;
                               li{
                                   font-size: 15px;
                                   //height: 100%;
                                   width: 100%;
                                   border-bottom :1px solid $navcolor ;
                                  
                                  // text-align: start;
                                   display: flex;
                                   justify-content: flex-start;
                                  // border: 1px solid red;
                               }
                           }
                           }
                        }
                    }
                
                    .services:hover{
                        color:$headcolor !important;
                            background-color: rgba(255,255,255,0.1) !important;
                            .services-section{
                                display: flex;
                                color: $textcolor;
                            }
                    }
                    }
                    .rai{
                        .rai-section{
                            position: absolute;
                                height: 50vh;
                                width: 800px;
                                left: 330px;
                                padding: 20px;
                                padding-left: 100px;
                                top: -30px;
                               // background-color: rgba(0,0,0,0.3);
                                margin-top: -18px;
                                height:100%;
                               // width:68%;
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                row-gap: 55px;
                                display: none;
                           .what__head{
                            //border: 1px solid blue;
                            display: flex;
                            column-gap: 10px;
                            justify-content: flex-start;
                           ul{
                              // border: 1px solid red;
                               width: 30%;
                             //  height: 100%;
                               margin-bottom: 100px;
                               display: flex;
                               align-items: flex-start;
                               flex-direction: column;
                               row-gap: 10px;
                               li{
                                   font-size: 15px;
                                   //height: 100%;
                                   width: 100%;
                                   border-bottom :1px solid $navcolor ;
                                  
                                  // text-align: start;
                                   display: flex;
                                   justify-content: flex-start;
                                  // border: 1px solid red;
                               }
                           }
                           }
                        }
                    }
                
                    .rai:hover{
                        color:$headcolor !important;
                            background-color: rgba(255,255,255,0.1) !important;
                            .rai-section{
                                display: flex;
                                color: $textcolor;
                            }
                    }
                    
                    .pap{
                        
                        .pap-section{
                            //border: 1px solid red;
                            position: absolute;
                                height: 50vh;
                                width: 800px;
                                left: 330px;
                                padding: 20px;
                                padding-left: 100px;
                                top: -30px;
                               // background-color: rgba(0,0,0,0.3);
                                margin-top: -18px;
                                height:120%;
                               // width:68%;
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                row-gap: 55px;
                               display: none;
                           .what__head{
                           // border: 1px solid blue;
                            display: flex;
                            column-gap: 10px;
                            height: 900px !important;
                            justify-content: flex-start;
                           ul{
                              // border: 1px solid red;
                               width: 30%;
                             //  height: 100%;
                               margin-bottom: 100px;
                               display: flex;
                               align-items: flex-start;
                               flex-direction: column;
                               row-gap: 10px;
                               li{
                                   font-size: 15px;
                                   //height: 100%;
                                   width: 100%;
                                   border-bottom :1px solid $navcolor ;
                                  
                                  // text-align: start;
                                   display: flex;
                                   justify-content: flex-start;
                                  // border: 1px solid red;
                               }
                           }
                           }
                        }
                    }
                
                    .pap:hover{
                        color:$headcolor !important;
                            background-color: rgba(255,255,255,0.1) !important;
                            .pap-section{
                                display: flex;
                                color: $textcolor;
                            }
                    }
                }
                
            }
            .list-content1{
                display: none !important;
            }
            .list-content2{
                display: none !important;
            }
            .list-content3{
                display: none !important;
            }
            .list-content4{
                display: none !important;
            }
            .show1{
               // transform: translateY(-0%);
            }
            .show{
               // display: flex !important;
                @media only screen and (min-width:1000px){
                   // display: none;
                }
            }
            
    }
    .show-section{
        display: block !important;
        // @media only screen and (min-width:1000px){
        //      display: none;
        //  }
    }

    

