// .who{
//     tansition:transform 2s ;
//     // transform: translateY(130%);
//      height:70vh;
//      width:100%;
//      padding:20px;
//      background-color: $navcolor;
//      //color: aliceblue;
//      display: flex;
//      align-items: flex-start;
//      justify-content: space-around;
//      display: none;
//      .what__list{
//          color: $textcolor;
//          margin-top: 20px;
//          height: 100%;
//          width:32%;
//          ul{
//              width:100%;
//              height:90%;
//              list-style: none;
//              display: flex;
//              flex-direction: column;
//              row-gap: 40px;
//              li{
//                  margin-left: 10px;
//                  height: 6%;
//                  width:78%;
//                  border-bottom: 1px solid grey; 
 
//              }
//          }
//      }
//      .what__section{
//         // border: 1px solid red;
//          height:100%;
//          width:68%;
//          display: flex;
//          justify-content: flex-start;
//          flex-direction: column;
//          row-gap: 55px;
//          .what__head{
//              display: flex;
//              flex-direction: column;
//              row-gap: 20px;
//              .what__title{
//                  width:60%;
//                  font-size: 40px;
//                  color: $headcolor;
//              }
//              .what__para{
//                  color: $textcolor;
//              }
//          }
//          .what__button{
//              width:20%;
//              border:1px solid $headcolor;
//              padding: 10px;
//              border-radius: 20px;
//              color: $headcolor;
//              text-align: center;
//          }
//      }
//  }
//  .show1{
//      transform: translateY(-0%);
//  }
//  .show{
//      display: flex;
//  }
 

// .who{
//     top: 100px;
//     position: absolute;
//     tansition:transform 2s ;
//    // transform: translateY(130%);
//     height:70vh;
//     width:100%;
//     padding:20px;
//     background-color: $navcolor;
//     @media screen and (max-width: 1000px) {
//         display: none;
//         visibility: hidden;;
//       }
//     //color: aliceblue;
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-around;
//     display: none;

//     .what__list{
//         color: $textcolor;
//         //margin-top: 20px;
//         height: 100%;
//         width:32%;
//       //  border: 1px solid red;
//         ul{
//             //border: 1px solid blue;
//             width:100%;
//             height:90%;
//             list-style: none;
//             display: flex;
//             flex-direction: column;
//             row-gap: 10px;
//             li{
//                 //border: 1px solid yellow;
//                 align-self: center;
//               //  transition: all 0.5s ease;
//                 margin-left: 10px;
//                 height: 16%;
//                 text-align: center;
//                 display: flex;
//                 font-size: 20px;
//                 width:68%;
//                 justify-content: space-between;
//                 border-bottom: 1px solid grey; 
//                 .fa-angle-right{
//                     color:$headcolor
//                 }
//             }
//             li:hover{
//                 color:$headcolor;
//                 background-color: rgba(255,255,255,0.1);
//             }
//         }
//     }
//     .what__section{
//        // border: 1px solid red;
//         height:100%;
//         width:68%;
//         display: flex;
//         justify-content: flex-start;
//         flex-direction: column;
//         row-gap: 55px;
//         .what__head{
//             display: flex;
//             flex-direction: column;
//             row-gap: 20px;
//             .what__title{
//                 width:60%;
//                 font-size: 40px;
//                 color: $headcolor;
//             }
//             .what__para{
//                 color: $textcolor;
//             }
//         }
//         .what__button{
//             width:20%;
//             border:1px solid $headcolor;
//             padding: 10px;
//             border-radius: 20px;
//             color: $headcolor;
//             text-align: center;
//             transition: all 0.5s ease;
//         }
//         .what__button:hover{
//             cursor: pointer;
//             background-color: rgba(0,0,0,0.3);
//         }
//     }
// }
.list-content1{
    display: none !important;
}
.list-content2{
    display: none !important;
}
.list-content3{
    display: none !important;
}
.list-content4{
    display: none !important;
}
.show1{
    transform: translateY(-0%);
}
.show{
    display: flex !important;
    @media only screen and (min-width:1000px){
        display: none;
    }
}

.big-section{
    background-color: $navcolor !important;
    .who{
        height:60vh;
        position: absolute;
        top:100px;
        width:100vw;
        display: flex;
        background-color: $navcolor;
        display: none;
        align-items: flex-start;
        justify-content: space-around;
        @media screen and (max-width: 1000px) {
            display: none;
            visibility: hidden;;
          }
          .what__list{
                    margin-top: 30px;
                    color: $textcolor;
                    //margin-top: 20px;
                    height: 87%;
                    width:30%;
                    ul{
                        width:100%;
                        height:90%;
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        li{
                            align-self: center;
                            margin-left: 10px;
                            height: 16%;
                            text-align: center;
                            display: flex;
                            font-size: 16px;
                            width:68%;
                            justify-content: space-between;
                            border-bottom: 1px solid grey; 
                            padding-top: 20px;
                            .fa-angle-right{
                                color:$headcolor
                            }
                        }
                        li:hover{
                            color:$headcolor;
                            background-color: rgba(255,255,255,0.1);
                        }
                    }
                }
                .what__section{
                   // border: 1px solid red;
                   margin-top: 30px;
                    height:100%;
                    width:68%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    row-gap: 55px;
                    .what__head{
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        .what__title{
                            width:60%;
                            font-size: 30px;
                            color: $headcolor;
                        }
                        .what__para{
                            //text-align: center;
                            color: $textcolor;
                        }
                    }
                    .what__button{
                        width:20%;
                        border:1px solid $headcolor;
                        padding: 10px;
                        border-radius: 20px;
                        color: $headcolor;
                        text-align: center;
                        transition: all 0.5s ease;
                    }
                    .what__button:hover{
                        cursor: pointer;
                        background-color: rgba(0,0,0,0.3);
                    }
                }
            }
            .list-content1{
                display: none !important;
            }
            .list-content2{
                display: none !important;
            }
            .list-content3{
                display: none !important;
            }
            .list-content4{
                display: none !important;
            }
            .show1{
                transform: translateY(-0%);
            }
            .show{
               // display: flex !important;
                @media only screen and (min-width:1000px){
                    display: none;
                }
            }
            
    }